@import '../../../index.scss';

//Mobile-First
.auth_header_wrapper {
  border-bottom: 1px solid $border-dark;

  .card_wrapper {
    display: flex;
    justify-content: space-between;

    .card_1,
    .card_2 {
      display: grid;
      grid-auto-flow: column;
      column-gap: 0.5rem;
      align-items: center;
      padding: 0.5rem 0rem;
      cursor: pointer;
    }
    .card_1 {
      .visibility {
        display: none;
        @include break(lg) {
          display: flex;
          align-items: center;
        }

        hr {
          height: 2.25rem;
          margin-right: 0.5rem;
          border: 0;
          border-left-width: 1px;
          border-left-color: #4d4f66;
          border-left-style: solid;
        }
      }
    }

    .card_2 {
      &:hover {
        text-decoration: underline;
      }

      .icon_text_wrapper {
        height: -webkit-fill-available;
        display: flex;
        align-items: center;
      }
    }
  }
}
